@font-face {
    font-family: 'LycheeSoda';
    src: url(./data/font/LycheeSoda.ttf);
}

@font-face {
    font-family: 'joystix';
    src: url(./data/font/joystix\ monospace.otf);
}

.container {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 1280px;
    height: 720px;
}

.container img {
    width: 100%;
    height: 100%;
}

.container .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #706031b9;
    color: rgb(255, 237, 203);
    font-size: 40px;
    font-family: LycheeSoda;
    padding: 0px 0px;
    width: 250px;
    height: 60px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .toggle-button {
    position: absolute;
    left: 300px; 
}

.btn.active {
    background-color: brown;
    color: white;
}

#scoresButton {
    top: calc(50% + 100px);
}

#playButton {
    top: 50%;
}

#quitButton {
    top: calc(50% - 100px);
}

#menuSettingsButton {
    top: 50px;
    left: calc(100% - 50px);
    width: 70px;
    height: 70px;
}

#instructionsButton {
    top: 50px;
    left: calc(50px);
    width: 70px;
    height: 70px;
    font-size: 50px;
}

#nightImage {
    padding: 8;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 2s ease-in-out;
    display: none;
}

.container .btn:hover {
    background-color: rgb(30, 112, 108);
}

.instructions-text,
.leaderboard-text {
    font-family: 'LycheeSoda';
    font-size: 60px;
    color: #522915;
    position: fixed;
    top: 20px;
}

.leaderboard-text {
    left: 520px;
}

.instructions-text {
    left: 535px;
}

.player-movement-text,
.how-to-play-text {
    font-family: 'LycheeSoda';
    font-size: 32px;
    color: #522915;
    position: fixed;
    background-color: #e3ce8a;
    top: 120px;
    white-space: pre-line;
    line-height: 1.7;
    padding: 20px;
    height: 500px;
}

.player-movement-text {
    left: 700px;
}

.how-to-play-text {
    left: 100px;
    max-width: 470px;
    overflow-wrap: break-word;
}

.settings-text {
    font-family: 'LycheeSoda';
    font-size: 60px;
    color: #522915;
    position: fixed;
    top: 20px;
    left: 570px;
}

.music-button {
    font-family: 'LycheeSoda';
    font-size: 60px;
    color: #522915;
    position: absolute;
    top: 300px;
    left: 600px;
}

.back-button {
    font-family: 'LycheeSoda';
    font-size: 60px;
    color: #522915;
    position: absolute;
    top: 20px;
    left: 20px;
}

.leaderboard-textarea {
    font-family: joystix;
    background-color: #92814d;
    font-size: 25px;
    padding-left: 10px;
    line-height: 2;
    color: white;
    width: 440px;
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
    resize: none;
    position: absolute;
    top: 150px;
    left: 600px;
}

.back-button {
    font-family: 'LycheeSoda';
    font-size: 60px;
    color: #522915;
    position: absolute;
    top: 20px;
    left: 20px;
}

.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    position: absolute;
    font-size: 35px;
    font-family: LycheeSoda;
    color: #706031b9; /* brown */
}

.sortByText {
    top: 36%;
    left: 100px;
    transform: translate(50%, -50%) rotate(180deg);
}

.orderByText {
    top: 65%;
    left: 100px;
    transform: translate(50%, -50%) rotate(180deg);
}


#endGameButton {
    font-family: LycheeSoda;
    font-size: 20px;
    color: #522915;
    position: relative;
    top: 670px;
    left: 1160px;
}

#canvas-container {
    background-color: beige; 
    width: 1280px; 
    height: 720px; 
    position: absolute; 
    top: 8px;
    left: 8px;
    z-index: -1; 
}

canvas {
    display: block; 
    width: 100%;
    height: 100%;
}
